@@include('./_inc/header.html', {
    title: "Blog"
})
<!-- Start Content -->

<main class="container grid grid-cols-3 gap-8 py-5 px-5 lg:px-0 ">

    <content class="col-span-3 md:col-span-2">
        <h2 class="text-2xl font-bold pb-3">
            Update Terbaru
        </h2>

        @@for (var i = 0; i < 5; i++) {

            <article class="border rounded-lg flex">
                <div class="content-image hidden  md:flex w-56  bottom-0 rounded-l-lg" style="background: url(https://source.unsplash.com/random/300×300?trading,technology&keyu=`+i+`); background-size: cover;">

                </div>
                <div class="p-4 flex-1">
                    <div class="content-header">
                        <a href="./single.html">
                            <h3 class="text-xl font-bold">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, perspiciatis.
                            </h3>
                        </a>
                        <div class="py-2 date text-gray-700 dark:text-gray-400">
                            Last update at December 2th, 2022
                        </div>
                    </div>
                    <p class="text-justify">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis deleniti et quisquam qui doloribus aliquam placeat sapiente quam repellendus, ratione magni repudiandae, officiis eaque harum exercitationem quis saepe. Corrupti, dicta!
                    </p>
                </div>
            </article>
        }

        @@for (var i = 0; i < 5; i++) {

            <article class="border p-5 rounded-lg">
                <div class="content-header">
                    <a href="./single.html">
                        <h3 class="text-xl font-bold">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, perspiciatis.
                        </h3>
                    </a>
                    <div class="py-2 date text-gray-700 dark:text-gray-400">
                        Last update at December 2th, 2022
                    </div>
                </div>
    
                <p class="text-justify">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis deleniti et quisquam qui doloribus aliquam placeat sapiente quam repellendus, ratione magni repudiandae, officiis eaque harum exercitationem quis saepe. Corrupti, dicta!
                </p>
            </article>
        }


        @@include('./_inc/pagination.html')
    </content>
    

    @@include('./_inc/sidebar.html')


</main>
<!-- End Content -->

@@include('./_inc/footer.html')
